@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .card-body-row {
    grid-template-rows: auto auto 0fr;
  }
  .card-body-row-active {
    grid-template-rows: auto auto 1fr;
  }
}

/* footer {
    grid-template-columns: auto auto auto;
} */
